<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href=""><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook-square  fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram  fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-map-marker  fa-3x" aria-hidden="true"></i></a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li> 
                    <li></li>
                    <li></li>
                    <li><a href=""><i class="fa fa-phone  fa-3x" aria-hidden="true"></i></a></li> 
                    <li>+389474747</li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} by BeautyZone
                </span>
            </div>
        </div>
    </div>
</footer>
