<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/horizontal-banner-beauty-products.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper justify-content-center">  
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                          <div class="card card-register">
                              <h3 class="title">Edit client</h3>
                              <form class="register-form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    
                                <mat-form-field class="example-full-width" style="width: 100%;">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="example@gmail.com" formControlName="email">
                                  </mat-form-field>    
                                  
                                <mat-form-field class="example-full-width" style="width: 100%;">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" formControlName="name">
                                  </mat-form-field>
        
                                <mat-form-field class="example-full-width" style="width: 100%;">
                                    <mat-label>Surname</mat-label>
                                    <input matInput placeholder="Surname" formControlName="surname">
                                  </mat-form-field>
                  
                                <mat-form-field class="example-full-width" style="width: 100%;">
                                    <mat-label>Phone</mat-label>
                                    <input matInput placeholder="07XXXXXXX" formControlName="phone">
                                  </mat-form-field>            
                                  <button type="submit"  [disabled]="!updateForm.valid" class="btn btn-block btn-round">Submit</button>
                              </form>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>