<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/horizontal-banner-beauty-products.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper justify-content-center">
                    <br/>
                    <ul ngbNav #nav="ngbNav" class="nav-tabs  justify-content-center" [activeId]="1">
                        <li *ngFor="let categoryWithServices of categoriesWithServices" [ngbNavItem]="categoryWithServices.id">
                            <a ngbNavLink> {{ categoryWithServices.name }}</a>
                            <ng-template ngbNavContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-8 mr-auto">
                                        <ul *ngFor="let service of categoryWithServices.services" style="list-style-type: none;">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        {{ service.name }}
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 ml-auto">
                                                        {{ service.price | currency: 'EUR' }}
                                                    </div>
                                                    <div class="col-md-1 col-sm-5 ml-auto mr-auto">
                                                        <button type="button" [routerLink]="service.id.toString()" class="btn btn-default btn-sm">View</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
