<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/landing.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>Your beauty is our duty.</h3>
            <br />
            <a class="btn btn-outline-neutral btn-round" routerLink="/create-appointment"><i class="fa fa-play"></i>Make an appointment</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Why Choose Us?</h2>
                <h5 class="description">
                    At BeautyZone, we pride ourselves on delivering an unparalleled experience that goes beyond conventional beauty treatments. With a team of highly skilled and passionate professionals, we bring years of expertise and a commitment to excellence to every client.
                    What sets us apart is our personalized approach to beauty and wellness. We believe in listening attentively to our clients, understanding their goals, and crafting customized treatment plans that deliver results. Whether you're seeking a rejuvenating facial, a transformative hair makeover, or a relaxing massage, our team is here to exceed your expectations.
                </h5>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Innovative Techniques</h4>
                        <p>Advanced skincare treatments that use technologies such as laser therapy, radiofrequency, or ultrasound for skin rejuvenation, tightening, and lifting without invasive surgery.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-single-copy-04"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Professional Expertise</h4>
                        <p>Our team of highly skilled and experienced professionals brings years of training and industry knowledge to every client. We are dedicated to staying updated with the latest trends and techniques in beauty and skincare, ensuring that each treatment is delivered with precision and care.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Hygiene and Safety Standards</h4>
                        <p>We adhere rigorously to industry-leading standards and protocols to ensure a clean and sanitized environment for our clients. From regular disinfection of equipment and facilities to strict adherence to hygiene practices, we are committed to providing a safe and hygienic experience for everyone who walks through our doors.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Personalized Approach</h4>
                        <p>We believe in a personalized approach to beauty and wellness. We take the time to understand each client's unique preferences, goals, and concerns. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">This Month's Most Popular Services</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
