<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/landing.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>Your beauty is our duty.</h3>
            <br />
            <a class="btn btn-outline-neutral btn-round" routerLink="/create-appointment"><i class="fa fa-play"></i>Make an appointment</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Why Choose Us?</h2>
                <h5 class="description">
                    At BeautyZone, we pride ourselves on delivering an unparalleled experience that goes beyond conventional beauty treatments. With a team of highly skilled and passionate professionals, we bring years of expertise and a commitment to excellence to every client.
                    What sets us apart is our personalized approach to beauty and wellness. We believe in listening attentively to our clients, understanding their goals, and crafting customized treatment plans that deliver results. Whether you're seeking a rejuvenating facial, a transformative hair makeover, or a relaxing massage, our team is here to exceed your expectations.
                </h5>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Innovative Techniques</h4>
                        <p>Advanced skincare treatments that use technologies such as laser therapy, radiofrequency, or ultrasound for skin rejuvenation, tightening, and lifting without invasive surgery.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-single-copy-04"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Professional Expertise</h4>
                        <p>Our team of highly skilled and experienced professionals brings years of training and industry knowledge to every client. We are dedicated to staying updated with the latest trends and techniques in beauty and skincare, ensuring that each treatment is delivered with precision and care.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Hygiene and Safety Standards</h4>
                        <p>We adhere rigorously to industry-leading standards and protocols to ensure a clean and sanitized environment for our clients. From regular disinfection of equipment and facilities to strict adherence to hygiene practices, we are committed to providing a safe and hygienic experience for everyone who walks through our doors.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Personalized Approach</h4>
                        <p>We believe in a personalized approach to beauty and wellness. We take the time to understand each client's unique preferences, goals, and concerns. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center" *ngIf="popularServices">
    <div class="container">
        <h2 class="title">This Month's Most Popular Services</h2>
        <div class="row">
            <div class="col-md-4" *ngIf="popularServices[0]">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img [src]="popularServices[0]?.imgPath" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">{{ popularServices[0]?.name }}</h4>
                                <h6 class="card-category">  {{ popularServices[0]?.category?.name }}</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            {{ popularServices[0]?.description }}    </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img [src]="popularServices[1]?.imgPath" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">{{ popularServices[1]?.name }}</h4>
                                <h6 class="card-category">{{ popularServices[1]?.category?.name }}</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            {{ popularServices[1]?.description }}    </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img [src]="popularServices[2]?.imgPath" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">{{ popularServices[2]?.name }}</h4>
                                <h6 class="card-category">{{ popularServices[2]?.category?.name }}</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            {{ popularServices[2]?.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
